name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to Production Server
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: 22
          script: |
            cd agross/agross-backend/
            git pull origin main --force
            npm i
            npm run build
            sudo cp deployment/nginx/api.agross.uz /etc/nginx/sites-available/api.agross.uz
            sudo nginx -t
            sudo systemctl reload nginx
            pm2 restart agross-backend

